[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/JUCE"]
	path = lib/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "lib/mk2"]
	path = lib/mk2
	url = git@github.com:SachiSakurane/libmk2.git
